manala:
    recipe: recipe

string_float_int: {{ .Vars.string_float_int | toYaml }}
string_float_int_value: {{ .Vars.string_float_int_value | toYaml }}

string_asterisk: {{ .Vars.string_asterisk | toYaml }}
string_asterisk_value: {{ .Vars.string_asterisk_value | toYaml }}
